* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

/* GENERAL */

.btn {
  font-weight: 600;
  border: none;
}

.flex {
  display: flex;
}

.margin-bottom-md {
  margin-bottom: 3rem;
}

.center {
  text-align: center;
}

.normal-size {
  font-size: 2rem;
}

.heavy {
  font-weight: 600;
}

/* CLOSE BUTTON */

.close-button {
  position: absolute;
  top: 0;
  right: 0;

  background-color: #fff;
  padding: 1rem 2rem;
  font-size: 4rem;
  border: none;
  cursor: pointer;
}

/* STEPS APP */

.container {
  background-color: #f1f1f1;
  width: 60rem;
  margin: 25rem auto 0 auto;
  padding: 3rem 8rem;
  border-radius: 0.6rem;
  overflow: hidden;
}

.steps-box,
.buttons-box {
  justify-content: space-between;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;

  color: inherit;
  background-color: #c2c2c2;
  font-size: 1.6rem;
  height: 40px;
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

.message {
  font-size: 2rem;
  font-weight: 600;
}

.button-previous,
.button-next {
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
  border-radius: 18px;
}

/* ACTIVE */

.active {
  color: #fff;
  background-color: #7950f2;
}
